/*ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #005eff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    box-shadow: 0px 0px 25px #005eff;
    transform: scale(1.1);
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #005eff;
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 7rem;
    height: 5rem;
}

header li {
    color: #808080;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header li:hover {
    color: #fff;
    transform: scale(1.1);
    cursor: pointer;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}




/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #005eff;

}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 20px 0;
    font-size: 20px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}


/* ESTILO DAS ESPECIALIDADES */

section.especialidades {
    padding: 80px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px #ff3c00fb;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #005eff;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}


/* ESTILO SOBRE */

section.sobre {
    padding: 80x 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .img-sobre {
    padding-bottom: 50px;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #005eff;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #005eff;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


/* ESTILO PROJETOS */

section.projetos {
    padding: 80px 4%;
    box-shadow: 0 0 30px 10px #ffffffa1;
}

section.projetos .interface .titulo {
    padding: 0 0 40px 0;
}

section .titulo-projetos {
    color: #fff;
}

section.projetos .flex {
    justify-content: space-around;
}

.img-projeto {
    width: 384px;
    height: 216px;
    border-radius: 20px;
}


.flex-projetos {
    width: 384px;

}

section.projetos p {
    color: #fff;
}

section.projetos h2 {
    padding: 20px;
}

section.projetos .tecnologias {
    padding-bottom: 20px;
}



/* ESTILO DO RODAPÉ */

footer {
    padding: 80px 4%;
}

footer img {
    width: 180px;
    height: 100px;
}


footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

.borda {
    border-top: 2px solid #005eff;
}

footer .line-footer p i {
    color: #005eff;
    font-size: 24px;
}

footer .line-footer p a {
    color: #fff;
}

footer .line-footer p {
    color: #fff;
}

footer img {
    width: 7rem;
    height: 5rem;
    padding-top: 1px;
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }


    /* ESTILO DAS ESPECIALIDADES */

    section.especialidades {
        padding: 40px 8%;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }


    /* SOBRE */

    section.sobre {
        padding: 40px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 30px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }
   
    .img-sobre img{
        width: 100%;
    }

    /* PROJETOS */

    section.projetos {
        padding: 80px 4%;
    }

    .img-projeto {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    .flex-projetos{
        align-items: center;
        width: 100%;
    }

    /* RODAPÉ */

    footer .flex{
        gap: 30px;
    }
    
    footer .line-footer {
        text-align: center;
    
    }
}