/*ESTILO GERAL */
:root {
    --cor-primaria: #005eff;
    --cor-secundaria: #FFFF;
    --cor-terciaria: #000000;
    --cor-quaternaria: #808080;
    --cor-borda-habilidade: #1f1e1e;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}
main {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);

}

.interface {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
}

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  

h2.titulo {
    color: var(--cor-secundaria);
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: var(--cor-primaria);
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 7rem;
    height: 5rem;
}

header li {
    color: var(--cor-quaternaria);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header li:hover {
    color: var(--cor-secundaria);
    transform: scale(1.1);
    cursor: pointer;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}




/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    position: relative;
    background-image: url(images/digitando.jpg);
    color: white; /* Para garantir que o texto seja legível */
    overflow: hidden;
    background-size: cover;
}
section.topo-do-site::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.811); /* Controla a escuridão */
    z-index: 1; /* Mantém a camada sobre a imagem */
}

section * {
    position: relative;
    z-index: 2; /* Garante que o conteúdo da seção fique acima da camada escura */
}


section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: var(--cor-secundaria);
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: var(--cor-primaria);

}

.topo-do-site .txt-topo-site p {
    color: var(--cor-secundaria);
    margin: 20px 0;
    font-size: 20px;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}


/* ESTILO DAS ESPECIALIDADES */

section.especialidades {
    padding: 80px 4%;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: var(--cor-secundaria);
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px var(--cor-borda-habilidade);
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: var(--cor-primaria);
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}


/* ESTILO SOBRE */

section.sobre {
    padding: 80x 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: var(--cor-secundaria);
}

.sobre .img-sobre {
    padding-bottom: 50px;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: var(--cor-primaria);
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--cor-primaria);
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


/* ESTILO PROJETOS */


section.projetos {
    padding: 80px 4%;
}

section.projetos .interface .titulo {
    padding: 0 0 40px 0;
}

section .titulo-projetos {
    color: var(--cor-secundaria);
}

section.projetos .flex {
    justify-content: space-around;
}

.img-projeto {
    width: 384px;
    height: 216px;
    border-radius: 20px;
}


.flex-projetos {
    width: 384px;
    text-align: justify;
}
.btn-repositorio {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-quaternaria);
    cursor: pointer;
    transition: .5s;
    position: relative; /* Necessário para o pseudo-elemento */
}

.btn-repositorio::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px; /* Ajuste a posição conforme necessário */
    left: 0;
    background-color: var(--cor-secundaria);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.btn-repositorio:hover {
    color: var(--cor-secundaria);
    transform: scale(1.1);
}

.btn-repositorio:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



section.projetos p {
    color: var(--cor-secundaria);
}

section.projetos h2 {
    padding: 20px;
}

section.projetos .tecnologias {
    padding-bottom: 20px;
}



/* ESTILO DO RODAPÉ */

footer {
    padding: 80px 4%;
}

footer img {
    width: 180px;
    height: 100px;
}


footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

.borda {
    border-top: 2px solid var(--cor-primaria);
}

footer .line-footer p i {
    color: var(--cor-primaria);
    font-size: 24px;
}

footer .line-footer p a {
    color: #fff;
}

footer .line-footer p {
    color: var(--cor-secundaria);
}

footer img {
    width: 7rem;
    height: 5rem;
    padding-top: 1px;
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;

    }


    /* ESTILO DAS ESPECIALIDADES */

    section.especialidades {
        padding: 40px 8%;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }


    /* SOBRE */

    section.sobre {
        padding: 40px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 30px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }
   
    .img-sobre img{
        width: 100%;
    }

    /* PROJETOS */

    section.projetos {
        padding: 80px 4%;
    }

    .img-projeto {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    .flex-projetos{
        align-items: center;
        width: 100%;
    }

    /* RODAPÉ */

    footer .flex{
        gap: 30px;
    }
    
    footer .line-footer {
        text-align: center;
    
    }
}